<p>
  <mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>

    </button>
    <span>Uneddit</span>
    <span class="example-spacer"></span>
    <button mat-flat-button color="accent">Entrar</button>
    <button mat-flat-button color="warn">Cadastrar</button>
    <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
      <mat-icon>more_vert</mat-icon>
    </button>
  </mat-toolbar>
</p>